
.idea/.name

*.xml

*.iml

config/sample/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/*
docs/paybox.db
projectFilesBackup/
/.idea/
/paybox.iml
/.idea/workspace.xml
paybox.db-journal
model/paybox.db
paybox_web
