@font-face {
font-family: 'RSU_BOLD';
src: url('font_page/RSU_BOLD.ttf');
}

* {
font-family:  'RSU_BOLD';
}

body{
	background-color: #dcdcd1;
}


.container{
	padding: 0;
	margin: 0;
}

.navbar{
	margin-bottom: 0;
}

.navbar-header{
	float: left; 
	text-align: left; 
	vertical-align: bottom; 
	width: 20%; 
	margin-top: 0%;
	color: #fff;
	padding-left: 1%;
}

.nav-r{
	float: left; 
	text-align: right; 
	vertical-align: bottom; 
	width: 80%; 
	margin-top: 1%;
	color: #fff;
}

#img_setting{
    position: absolute;
    left: 90%;
    top: 85%;
}
.bt_key{
    width: 30%;
    margin-bottom:2%;
    margin-left:2%;
    padding:0;
}

.logo{
	width: 20%;
	margin-bottom:2%;
	border-radius:100%;
	border:5px solid #fff;
}

#l480{
	display: none;
}

.block-2 {
	width: 17%;
	height: 165px;
	margin: 1% auto auto 2.26%;
	/*background: red;*/
	/*border: 1px solid black;*/
	padding: 0%;
	border-radius: 9px;
	text-align: center;
	vertical-align: middle;
	float: left;
}
.block-img{
	margin-bottom: 0%; 
	width: 70%;
	border-radius: 5px 5px 0 0; 
}

.block-2 h5{
	color: #000;
	height: 45px;
	background: #fff;
	vertical-align: middle;
	text-align: center;
	padding-top: 5%;
	font-size: 20px;
	border-radius: 0 0 5px 5px;
	/*border-top: 3px solid #602c06;*/
}
.scroll{
	width: 100%;
	/*border: 1px solid red;*/
	height: 370px;
	overflow: auto;
	margin:0 auto;
}

	#menu_main{
		width: 90%;
		text-align: center;
		padding:auto;
		margin-top: 0%;
		margin-bottom: 0;
		margin-left: 5%;
	}
	.img_menu{
		width: 30%;
		margin-right: 5%;
		border-radius: 100%;
		border: 5px solid #fff;
	}
	#menu_main hr {
		  border: 0; 
		  height: 5px; 
		  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 	
	}
	#language{
		text-align: center; 
		width: 100%;
		height: 100px;
		/*border: 1px solid black;*/

	}
	#language h1{
		text-align: center; 
		width: 100%;
		margin: 0;
		padding:0;
	}
	.lang{
		width: 6%;
		border: 5px solid #fff;
		border-radius: 100%;
	}

	.active_img{
		border-radius: 100%;
		border: 5px solid #f00;
	}

.footer{
	width: 100%;
	position: fixed;
	left:0px;
	bottom: 1%;
	margin-top: 1%;
	background-color: #FFF8DC;
}

@media (min-width: 800px) and (max-width: 900px) {

.container{
	padding: 0 0 0 2%;
	margin: 0;
}

.navbar{
	margin-bottom: 0;
}

.navbar-header{
	float: left; 
	text-align: left; 
	vertical-align: bottom; 
	width: 20%; 
	margin-top: 0.5%;
	color: #fff;
	padding-left: 1%;
}

.nav-r{
	float: left; 
	text-align: right; 
	vertical-align: bottom; 
	width: 80%; 
	margin-top: 1%;
	color: #fff;
}

.logo{
	width: 30%;
	margin-bottom:2%;
    border-radius:100%;
    border:5px solid #fff;
}
.l800{
	display: block;
}
#l480{
	display: none;
}
.block-2 {
	width: 17%;
	height: 165px;
	margin: 1% 0% 0 2.26%;
	/*background: red;*/
	/*border: 1px solid black;*/
	padding: 0%;
	border-radius: 9px;
	text-align: center;
	vertical-align: middle;
	float: left;
	display:table;
}
.block-img{
	margin-bottom: 0%; 
	width: 70%;
	border-radius: 5px 5px 0 0; 
}

.block-2 h5{
	color: #000;
	height: 50px;
	background: #fff;
	vertical-align: middle;
	text-align: center;
	padding-top: 9%;
	font-size: 18px;
	line-height:18px;
	border-radius: 0 0 5px 5px;
	/*border-top: 3px solid #602c06;*/
}
.scroll{
	width: 100%;
	/*border: 1px solid red;*/
	height: 200px;
	overflow: auto;
}

	#menu_main{
		width: 90%;
		text-align: center;
		padding:auto;
		margin-top: 0%;
		margin-bottom: 0;
		margin-left: 5%;
	}
	.img_menu{
		width: 30%;
		margin-right: 5%;
		border-radius: 100%;
		border: 5px solid #fff;
	}
	#menu_main hr {
		  border: 0; 
		  height: 5px; 
		  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 	
	}
	#language{
		text-align: center; 
		width: 100%;
		height: 100px;
		/*border: 1px solid black;*/

	}
	#language h1{
		text-align: center; 
		width: 100%;
		margin: 0;
		padding:0;
	}
	.lang{
		width: 6%;
		border: 5px solid #fff;
		border-radius: 100%;
	}

	.active_img{
		border-radius: 100%;
		border: 5px solid #f00;
	}
}

@media (min-width: 400px) and (max-width: 799px) {


.container{
	padding-top: 2%;
	padding-left: 0;
	margin: 0;
}

.navbar{
	margin-bottom: 0;
	padding: 0;
	padding-right: 0;
}

.navbar-header{
	float: left; 
	text-align: center; 
	vertical-align: bottom; 
	width: 100%; 
	margin-top: 0.5%;
	color: #fff;
}

.logo{
	width: 18%;
}

#l800{
	display: none;
}

#l802{
	display: none;
}

#l480{
	margin-top: 1%;
	display: block;
}
	.block-2 {
		width: 30%;
		height: 132px;
		margin: 1% 0% 5% 2.26%;
		/*background: red;*/
		/*border: 1px solid black;*/
		display:table;
		padding: 0%;
		border-radius: 9px;
		text-align: center;
		vertical-align: middle;
		float: left;
	}
	.block-img{
		margin-bottom: 0%; 
		width: 70%;
		border-radius: 5px 5px 0 0; 
	}

	.block-2 h5{
		color: #000;
		height: 40px;
		background: #fff;
		vertical-align: middle;
		text-align: center;
		padding-top: 8%;
		font-size: 16px;
		border-radius: 0 0 5px 5px;
		/*border-top: 3px solid #602c06;*/
	}
	.scroll{
		width: 100%;
		/*border: 1px solid red;*/
		max-height: 500px;
		overflow: auto;
		margin:0 auto;
	}
	#menu_main{
		width: 100%;
		text-align: center;
		padding-left: 0;
		margin-top: 2%;
		margin-bottom: 0;
	}
	.img_menu{
		width: 30%;
		margin-right: 5%;
		border-radius: 100%;
		border: 5px solid #fff;
		text-align: center;
	}
	#menu_main hr {
		  border: 0; 
		  text-align: center;
		  height: 5px; 
		  margin-left: 5%;
		  width: 90%;
		  background-image: -webkit-linear-gradient(left, #dcdcd1, #8c8b8b, #dcdcd1);
		  background-image: -moz-linear-gradient(left, #dcdcd1, #8c8b8b, #dcdcd1);
		  background-image: -ms-linear-gradient(left, #dcdcd1, #8c8b8b, #dcdcd1);
		  background-image: -o-linear-gradient(left, #dcdcd1, #8c8b8b, #dcdcd1); 	
	}
	#language{
		text-align: center; 
		width: 100%;
		height: 100px;
		/*border: 1px solid black;*/
	}
	#language h1{
		text-align: center; 
		width: 100%;
		margin: 0;
		padding:0;
	}
	.lang{
		width: 10%;
		border: 5px solid #fff;
		border-radius: 100%;
	}

	.active_img{
		border-radius: 100%;
		border: 5px solid #f00;
	}


}