@font-face {
font-family: 'RSU_BOLD';
src: url('font_page/RSU_BOLD.ttf');
}

* {
font-family:  'RSU_BOLD';
}

body{
	background-color: #dcdcd1;
}


.container{
	padding: 0 0 0 8%;
	margin: 0;
}

.navbar{
	margin-bottom: 0;
}

.navbar-header{
	float: left; 
	text-align: left; 
	vertical-align: bottom; 
	width: 20%; 
	margin-top: 0%;
	color: #fff;
	padding-left: 1%;
}

.nav-r{
	float: left; 
	text-align: right; 
	vertical-align: bottom; 
	width: 80%; 
	margin-top: 1%;
	color: #fff;
}

.logo{
	width: 45%;
}

#l480{
	display: none;
}

	#menu_main{
		width: 100%;
		text-align: center;
		padding-left: 4%;
		margin-top: 5%;
		margin-bottom: 0;
	}
	.img_menu{
		width: 30%;
		margin-right: 5%;
		border-radius: 100%;
		border: 5px solid #fff;
	}
	#menu_main hr {
		  border: 0; 
		  height: 5px; 
		  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 	
	}
	#language{
		text-align: center; 
		width: 100%;
		height: 100px;
		/*border: 1px solid black;*/
	}
	#language h1{
		text-align: center; 
		width: 100%;
		margin: 0;
		padding:0;
	}
	.lang{
		width: 10%;
		border: 5px solid #fff;
		border-radius: 100%;
	}

	.active_img{
		border-radius: 100%;
		border: 5px solid #f00;
	}

.footer{
	width: 100%;
	position: fixed;
	left:0px;
	bottom: 1%;
	margin-top: 1%;
	background-color: #FFF8DC;
}

@media (min-width: 800px) and (max-width: 900px) {

.container{
	padding: 0 0 0 2%;
	margin: 0;
}

.navbar{
	margin-bottom: 0;
}

.navbar-header{
	float: left; 
	text-align: left; 
	vertical-align: bottom; 
	width: 20%; 
	margin-top: 0.5%;
	color: #fff;
	padding-left: 1%;
}

.nav-r{
	float: left; 
	text-align: right; 
	vertical-align: bottom; 
	width: 80%; 
	margin-top: 1%;
	color: #fff;
}

.logo{
	width: 85%;
}
.l800{
	display: block;
}
#l480{
	display: none;
}

	#menu_main{
		width: 100%;
		text-align: center;
		padding-left: 4%;
		margin-top: 5%;
		margin-bottom: 0;
	}
	.img_menu{
		width: 30%;
		margin-right: 5%;
		border-radius: 100%;
		border: 5px solid #fff;
	}
	#menu_main hr {
		  border: 0; 
		  height: 5px; 
		  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 	
	}
	#language{
		text-align: center; 
		width: 100%;
		height: 100px;
		/*border: 1px solid black;*/
	}
	#language h1{
		text-align: center; 
		width: 100%;
		margin: 0;
		padding:0;
	}
	.lang{
		width: 10%;
		border: 5px solid #fff;
		border-radius: 100%;
	}

	.active_img{
		border-radius: 100%;
		border: 5px solid #f00;
	}

}

@media (min-width: 400px) and (max-width: 799px) {

.container{
	padding-top: 20%;
	padding-left: 0;
	margin: 0;
}

.navbar{
	margin-bottom: 0;
	padding: 0;
	padding-right: 0;
}

.navbar-header{
	float: left; 
	text-align: center; 
	vertical-align: bottom; 
	width: 100%; 
	margin-top: 0.5%;
	color: #fff;
}

.logo{
	width: 20%;
}

#l800{
	display: none;
}

#l802{
	display: none;
}

#l480{
	margin-top: 1%;
	display: block;
}

	#menu_main{
		width: 100%;
		text-align: center;
		padding-left: 0;
		margin-top: 5%;
		margin-bottom: 0;
	}
	.img_menu{
		width: 30%;
		margin-right: 5%;
		border-radius: 100%;
		border: 5px solid #fff;
		text-align: center;
	}
	#menu_main hr {
		  border: 0; 
		  text-align: center;
		  height: 5px; 
		  margin-left: 5%;
		  width: 90%;
		  background-image: -webkit-linear-gradient(left, #dcdcd1, #8c8b8b, #dcdcd1);
		  background-image: -moz-linear-gradient(left, #dcdcd1, #8c8b8b, #dcdcd1);
		  background-image: -ms-linear-gradient(left, #dcdcd1, #8c8b8b, #dcdcd1);
		  background-image: -o-linear-gradient(left, #dcdcd1, #8c8b8b, #dcdcd1); 	
	}
	#language{
		text-align: center; 
		width: 100%;
		height: 100px;
		/*border: 1px solid black;*/
	}
	#language h1{
		text-align: center; 
		width: 100%;
		margin: 0;
		padding:0;
	}
	.lang{
		width: 10%;
		border: 5px solid #fff;
		border-radius: 100%;
	}

	.active_img{
		border-radius: 100%;
		border: 5px solid #f00;
	}


.footer{
	width: 100%;
	position: fixed;
	left:0px;
	bottom: 1%;
	margin-top: 1%;
	background-color: #FFF8DC;
}

}