@font-face {
font-family: 'RSU_BOLD';
src: url('font_page/RSU_BOLD.ttf');
}
@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
font-family:  'RSU_BOLD';
}

body{
	background-color: #fff;
	text-align:center;
		-webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        user-drag: none;
        -webkit-touch-callout: none;

        cursor: none;
}

a{
    cursor: none;
}

img{
    cursor: none;
}

.navbar{
	margin-bottom: 0;
	 cursor: none;
}

.navbar-header{
	float: left;
	text-align: left;
	vertical-align: bottom;
	width: 20%;
	margin-top: 0%;
	color: #fff;
	padding-left: 1%;
	 cursor: none;
}

.nav-r{
	float: left;
	text-align: right;
	vertical-align: bottom;
	width: 80%;
	margin-top: 1%;
	color: #fff;
	 cursor: none;
}

.logo{
	width: 25%;
	margin-bottom:2%;
	 cursor: none;
}

#l480{
	display: none;
}

.thumb{
  position:relative;
  display: block;
  width: 90%;
  overflow:hidden;
  margin: 0 auto;
  margin-top: 3%;
   cursor: none;
}
.thumb img {
  display: block;
  width: 50%;
  cursor: crosshair;
  border: 4px solid #fff;
  margin: 0 auto;
   cursor: none;
}
.colorVal{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin: 0;
  padding:1em;
  display: block;
  box-shadow:1px 1px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.2);
  z-index:-1;
   cursor: none;
}
.colorVal span {
  display: block;
  font-size: 1.2em;
  line-height:1.2em;
  width:12em;
  height:auto;
  text-align:left;
   cursor: none;
}
#bgview{
    height:30px;
    width:50%;
    border-radius:5px;
    border:1px solid #000;
     cursor: none;
}

img{
  max-width:50%;
   cursor: none;
}
#canv{
  display:none;
}

#set_left{
    width:48%;
   /* border:1px solid red;*/
    float:left;
    margin:0 0 0 2%;
     cursor: none;
  /*  height:500px; */
}
#set_left h2{
    text-align:left;
    margin-top:0;
     cursor: none;
}
    #color_theme{
        width:100%;
        font-size: 20px;
         cursor: none;
    }
#set_right{
    width:48%;
   /* border:1px solid red;*/
    float:left;
    margin:0 2% 0 0;
    height:auto;
     cursor: none;
}
.block{
    width:100%;
    height:auto;
    clear:both;
     cursor: none;
  /*  border:1px red solid;*/
  vertical-align:middle;
  margin-bottom:5%;
  font-size:28px;
}

#spectrum-color {
  float: left;
  width: 350px;
  height: 350px;
   cursor: none;
}

#spectrum-all {
  float: left;
  margin-left: 15px;
  width: 40px;
  height: 350px;
   cursor: none;
}

.selected-color {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 15px;
  background: #f00;
  margin-bottom:2%;
   cursor: none;
}

@media (min-width: 1024px) and (max-width: 1600px) {

.navbar{
	margin-bottom: 0;
}

.navbar-header{
	float: left;
	text-align: left;
	vertical-align: bottom;
	width: 20%;
	margin-top: 0.5%;
	color: #fff;
	padding-left: 1%;
}

.nav-r{
	float: left;
	text-align: right;
	vertical-align: bottom;
	width: 80%;
	margin-top: 1%;
	color: #fff;
}

.logo{
	width: 30%;
}
.l800{
	display: block;
}

.l802 span{
	display: block;
	font-size:24px;
}

#l480{
	display: none;
}

    #set_left{
        width:48%;
       /* border:1px solid red;*/
        float:left;
        margin:0 0 0 2%;
      /*  height:500px; */
    }
    #set_left h2{
        text-align:left;
        margin-top:0;
    }
        #color_theme{
            width:100%;
            font-size: 20px;
        }
    #set_right{
        width:48%;
       /* border:1px solid red;*/
        float:left;
        margin:0 2% 0 0;
        height:auto;
    }
    .block{
        width:100%;
        height:auto;
        clear:both;
      /*  border:1px red solid;*/
      vertical-align:middle;
      margin-bottom:0%;
      margin-top:3%;
      font-size:20px;
    }

    #colorwheel {
      transform: scale(0.5);
      transform-origin: top left;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.6);
      background-color: #404040;
      padding:0;
      margin-top:0;
    }

    .colorSegment {
      position: absolute;
      top: 190px;
      left: 200px;
      width: 150px;
      height: 20px;
      transform-origin: -50px 50%;
      margin-top: 0px;
      margin-left: 50px;
      border-radius: 50%;
      cursor: pointer;
      padding:0;
    }
    .colorSegment:hover {
      height: 10px;
      width: 165px;
      border-radius: 0 10px 10px 0px;
      border: 1px solid black;
      z-index: 1;
      padding-bottom:0;
    }
    #wat {
      z-index: 999;
      position: absolute;
      bottom: 25px;
      left: 0;
      height:auto;
      padding-left:5%;
    }
}

@media (min-width: 800px) and (max-width: 999px) {

.navbar{
	margin-bottom: 0;
}

.navbar-header{
	float: left;
	text-align: left;
	vertical-align: bottom;
	width: 20%;
	margin-top: 0.5%;
	color: #fff;
	padding-left: 1%;
}

.nav-r{
	float: left;
	text-align: right;
	vertical-align: bottom;
	width: 80%;
	margin-top: 1%;
	color: #fff;
}

.logo{
	width: 30%;
}
.l800{
	display: block;
}
#l480{
	display: none;
}

    #set_left{
        width:48%;
       /* border:1px solid red;*/
        float:left;
        margin:0 0 0 2%;
      /*  height:500px; */
    }
    #set_left h2{
        text-align:left;
        margin-top:0;
    }
        #color_theme{
            width:100%;
            font-size: 20px;
        }
    #set_right{
        width:48%;
       /* border:1px solid red;*/
        float:left;
        margin:0 2% 0 0;
        height:auto;
    }
    .block{
        width:100%;
        height:auto;
        clear:both;
      /*  border:1px red solid;*/
      vertical-align:middle;
      margin-bottom:0%;
      margin-top:2%;
      font-size:20px;
    }

    #colorwheel {
      transform: scale(0.5);
      transform-origin: top left;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.6);
      background-color: #404040;
      padding:0;
      margin-top:0;
    }

    .colorSegment {
      position: absolute;
      top: 190px;
      left: 200px;
      width: 150px;
      height: 20px;
      transform-origin: -50px 50%;
      margin-top: 0px;
      margin-left: 50px;
      border-radius: 50%;
      cursor: pointer;
      padding:0;
    }
    .colorSegment:hover {
      height: 10px;
      width: 165px;
      border-radius: 0 10px 10px 0px;
      border: 1px solid black;
      z-index: 1;
      padding-bottom:0;
    }
    #wat {
      z-index: 999;
      position: absolute;
      bottom: 25px;
      left: 0;
      height:auto;
      padding-left:5%;
    }
}

@media (min-width: 400px) and (max-width: 799px) {

.navbar{
	margin-bottom: 0;
	padding: 0;
	padding-right: 0;
}

.navbar-header{
	float: left;
	text-align: center;
	vertical-align: bottom;
	width: 100%;
	margin-top: 0.5%;
	color: #fff;
}

.logo{
	width: 20%;
}

#l800{
	display: none;
}

#l802{
	display: none;
}

#l480{
	margin-top: 1%;
	display: block;
}


}