<!DOCTYPE html>
<html>
<head>
    <title>terminal order</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/main480.css">
    <link rel="stylesheet" type="text/css" href="/css/main800x480.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
</head>
<body>
<div id="cleft">
    <div id="contentleft">

        <div class="logo">
            <img src="/img/logo_paybox.png" style="border-radius:100%; border:5px solid #fff;">
        </div>
        <div id="l480" style="width: 100%; clear: both; padding: 2% 0 5% 0; height: 50px;">
            <div style="width: 50%; height: 40px; padding-left: 2%; float: left;">
                <img src="/img/logo_paybox.png" style="border-radius:100%; border:5px solid #fff;">
            </div>
            <div style="width: 50%; color: #fff; float: left; line-height:11px; padding-left:30%; padding-right: 0%;">
                <!-- <h3 style="font-size: 18px; margin: 0; padding: 0;">language</h3>-->
                <h4><span id="Name_time2"></span><span id="timer2"></span></h4>
                <h4><span id="version"></span></h4>
            </div>
            <!--<div style="width: 30%; float: left;">
                <a href="javascript:onsayeng(1)"><img src="/img/uk-flag.png" id="l1" class="lang"></a>
                <a href="javascript:onsaythai(2)"><img src="/img/thaiflag.png" id="l2" class="lang"></a>
                <a href="javascript:onsaychina(3)"><img src="/img/China.png" id="l3" class="lang"></a>
            </div>-->
        </div>

        <div class="Status"><h4><span id="Status"></span></h4></div>
        <div class="order">
            <h2><span id="title_order"></span></h2>
            <div class="scroll">
                <div id="order_list">
                    <label class="orderlist">
                        <h4 style="color:red; text-align:center; padding:0; width:95%;"><span id="default_order"></span>
                        </h4>
                    </label>
                </div>
                <!--<label class="orderlist">
                    <div class="ordername"> คาปูชิโน S</div>
                    <div class="orderqty">1 แก้ว</div>
                    <div class="orderprice">35 ฿</div>
                    <div class="ordercancel">
                        <button class="btn btn-danger btn-xs" style="padding-left: 22.5%; padding-right: 22.5%;">-
                        </button>
                    </div>
                </label>

                <label class="orderlist">
                    <div class="ordername"> คาปูชิโน S</div>
                    <div class="orderqty">1 แก้ว</div>
                    <div class="orderprice">35 ฿</div>
                    <div class="ordercancel">
                        <button class="btn btn-danger btn-xs" style="padding-left: 22.5%; padding-right: 22.5%;">-
                        </button>
                    </div>
                </label>

                <label class="orderlist">
                    <div class="ordername"> คาปูชิโน S</div>
                    <div class="orderqty">1 แก้ว</div>
                    <div class="orderprice">35 ฿</div>
                    <div class="ordercancel">
                        <button class="btn btn-danger btn-xs" style="padding-left: 22.5%; padding-right: 22.5%;">-
                        </button>
                    </div>
                </label>

                <label class="orderlist">
                    <div class="ordername"> คาปูชิโน S</div>
                    <div class="orderqty">1 แก้ว</div>
                    <div class="orderprice">35 ฿</div>
                    <div class="ordercancel">
                        <button class="btn btn-danger btn-xs" style="padding-left: 22.5%; padding-right: 22.5%;">-
                        </button>
                    </div>
                </label>

                <label class="orderlist">
                    <div class="ordername"> คาปูชิโน S</div>
                    <div class="orderqty">1 แก้ว</div>
                    <div class="orderprice">35 ฿</div>
                    <div class="ordercancel">
                        <button class="btn btn-danger btn-xs" style="padding-left: 22.5%; padding-right: 22.5%;">-
                        </button>
                    </div>
                </label>

                <label class="orderlist">
                    <div class="ordername"> คาปูชิโน S</div>
                    <div class="orderqty">1 แก้ว</div>
                    <div class="orderprice">35 ฿</div>
                    <div class="ordercancel">
                        <button class="btn btn-danger btn-xs" style="padding-left: 22.5%; padding-right: 22.5%;">-
                        </button>
                    </div>
                </label>-->

            </div> <!-- scroll -->

        </div> <!-- order -->
        <div id="pri_all">
            <div id="price1"><h4><span id="txtTotalPri"></span>
                <input type="text" name="pri1" id="pri1" value="0"> <span id="txtUnit"></span></h4>
            </div>
        </div>
        <div id="sub">
            <a href="javascript:cancel_menu()">
                <button class="btn-danger btn-md" style="width:45%; padding:0; margin-left:3%; margin-top:10%;">
                    <h1 style="padding:5%; margin:5%;">&#x2718;</h1>
                </button>
            </a>

            <a href="javascript:payment1()">
                <button class="btn-success btn-md" style="width:45%; padding:0; margin-left:3%; margin-top:10%;">
                    <h1 style="padding:5%; margin:5%;">&#10004;</h1>
                </button>
            </a>
        </div>
    </div><!-- contentleft -->
</div><!-- cleft --><br>
<div id="chead">
    <div class="contenthead"></div>
    <div class="language">
        <!-- <div id="lang_detail">
            <h3>language</h3>
        </div>-->
        <div id="img_lang">
            <h4><span id="Name_time"></span><span id="timer"></span></h4>
            <h4><span id="version2"></span></h4>
            <!--   <a href="javascript:onsayeng(1)"><img src="/img/uk-flag.png" id="r1" class="lang "></a>
                <a href="javascript:onsaythai(2)"><img src="/img/thaiflag.png" id="r2" class="lang"></a>
                <a href="javascript:onsaychina(3)"><img src="/img/China.png" id="r3" class="lang"></a>-->
        </div>
        <br style="clear: both;">
    </div>
</div>

<div id="cent">
    <div id="centitem">
        <div id="itemlist">
            <div id="menu_scroll">

                <div id="list_item"></div>
                <!-- <a href="#"><div class="block-3" data-toggle="modal" data-target="#myModal" onclick="showmodal()">
                    <img src="img/capu.jpg" onError="this.src = 'img/noimg.jpg'" class="block-img">
                    <h5 style="margin-top: 0;"><div style="width: 80%; float: left;"><b>คาปูชิโน</b></div><div style="width: 20%; float: left;"><b>35฿</b></div></h5>
                </div></a>

                <a href="#"><div class="block-3" data-toggle="modal" data-target="#myModal" onclick="showmodal()">
                    <img src="img/capu.jpg" onError="this.src = 'img/noimg.jpg'" class="block-img">
                    <h5 style="margin-top: 0;"><div style="width: 80%; float: left;"><b>คาปูชิโน</b></div><div style="width: 20%; float: left;"><b>35฿</b></div></h5>
                </div></a>

                <a href="#"><div class="block-3" data-toggle="modal" data-target="#myModal" onclick="showmodal()">
                    <img src="img/capu.jpg" onError="this.src = 'img/noimg.jpg'" class="block-img">
                    <h5 style="margin-top: 0;"><div style="width: 80%; float: left;"><b>คาปูชิโน</b></div><div style="width: 20%; float: left;"><b>35฿</b></div></h5>
                </div></a>

                <a href="#"><div class="block-3" data-toggle="modal" data-target="#myModal" onclick="showmodal()">
                    <img src="img/capu.jpg" onError="this.src = 'img/noimg.jpg'" class="block-img">
                    <h5 style="margin-top: 0;"><div style="width: 80%; float: left;"><b>คาปูชิโน</b></div><div style="width: 20%; float: left;"><b>35฿</b></div></h5>
                </div></a>

                <a href="#"><div class="block-3" data-toggle="modal" data-target="#myModal" onclick="showmodal()">
                    <img src="img/capu.jpg" onError="this.src = 'img/noimg.jpg'" class="block-img">
                    <h5 style="margin-top: 0;"><div style="width: 80%; float: left;"><b>คาปูชิโน</b></div><div style="width: 20%; float: left;"><b>35฿</b></div></h5>
                </div></a>

                <a href="#"><div class="block-3" data-toggle="modal" data-target="#myModal" onclick="showmodal()">
                    <img src="img/capu.jpg" onError="this.src = 'img/noimg.jpg'" class="block-img">
                    <h5 style="margin-top: 0;"><div style="width: 80%; float: left;"><b>คาปูชิโน</b></div><div style="width: 20%; float: left;"><b>35฿</b></div></h5>
                </div></a>

                <a href="#"><div class="block-3" data-toggle="modal" data-target="#myModal" onclick="showmodal()">
                    <img src="img/capu.jpg" onError="this.src = 'img/noimg.jpg'" class="block-img">
                    <h5 style="margin-top: 0;"><div style="width: 80%; float: left;"><b>คาปูชิโน</b></div><div style="width: 20%; float: left;"><b>35฿</b></div></h5>
                </div></a>

                <a href="#"><div class="block-3" data-toggle="modal" data-target="#myModal" onclick="showmodal()">
                    <img src="img/capu.jpg" onError="this.src = 'img/noimg.jpg'" class="block-img">
                    <h5 style="margin-top: 0;"><div style="width: 80%; float: left;"><b>คาปูชิโน</b></div><div style="width: 20%; float: left;"><b>35฿</b></div></h5>
                </div></a>

                <a href="#"><div class="block-3" data-toggle="modal" data-target="#myModal" onclick="showmodal()">
                    <img src="img/capu.jpg" onError="this.src = 'img/noimg.jpg'" class="block-img">
                    <h5 style="margin-top: 0;"><div style="width: 80%; float: left;"><b>คาปูชิโน</b></div><div style="width: 20%; float: left;"><b>35฿</b></div></h5>
                </div></a>

                <a href="#"><div class="block-3" data-toggle="modal" data-target="#myModal" onclick="showmodal()">
                    <img src="img/capu.jpg" onError="this.src = 'img/noimg.jpg'" class="block-img">
                    <h5 style="margin-top: 0;"><div style="width: 80%; float: left;"><b>คาปูชิโน</b></div><div style="width: 20%; float: left;"><b>35฿</b></div></h5>
                </div></a>

                <a href="#"><div class="block-3" data-toggle="modal" data-target="#myModal" onclick="showmodal()">
                    <img src="img/capu.jpg" onError="this.src = 'img/noimg.jpg'" class="block-img">
                    <h5 style="margin-top: 0;"><div style="width: 80%; float: left;"><b>คาปูชิโน</b></div><div style="width: 20%; float: left;"><b>35฿</b></div></h5>
                </div></a>

                <a href="#"><div class="block-3" data-toggle="modal" data-target="#myModal" onclick="showmodal()">
                    <img src="img/capu.jpg" onError="this.src = 'img/noimg.jpg'" class="block-img">
                    <h5 style="margin-top: 0;"><div style="width: 80%; float: left;"><b>คาปูชิโน</b></div><div style="width: 20%; float: left;"><b>35฿</b></div></h5>
                </div></a> -->

            </div>

        </div>
        <div id="bt_menu">
            <ul class="ul_menu">
                <div id="li_menu"></div>
            </ul>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade modal1" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-name"><h1 class="modal-title"><span id="Mitem_title"></span></h1></div>
                <input type="hidden" id="MitemNo"><input type="hidden" id="MitemName">
                <input type="hidden" id="line"><input type="hidden" id="Munit">
            </div>
            <div class="modal-body">
                <div id="modal-left">
                    <div id="modal-img">
                        <div id="Mimg">

                        </div>
                    </div>
                    <div id="modal-price">
                        <input type="text" id="mo-pri" name="mo-pri" readonly>
                    </div>
                </div>
                <div id="modal-right">
                    <div id="modal-qty">
                        <a href="#"><img src="/img/delete.png" onclick="removeQty()"></a>
                        <input type="text" id="mo_qty" value="1" readonly>
                        <a href="#"><img src="/img/add.png" onclick="addQty()"></a>
                    </div>
                    <div id="modal-size">
                        <div id="menusize"></div>
                        <input type="hidden" id="Msize">
                    </div>
                    <div id="modal-submit">
                        <a href="#"><img src="/img/no.png" data-dismiss="modal"></a>
                        <a href="javascript:send_order()"><img src="/img/ok.png" id="send" style="margin-left: 0;"></a>
                    </div>
                </div>
                <br style="clear: both;">
            </div>

        </div>

    </div>
</div>

<!-- Modal payment-->
<div class="modal fade modal2" id="payment_onhand" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="height:450px;">
            <div class="modal-body">
                <div style="float:left; width:45%; margin:0; text-align:center; padding:2%; border:1px solid #e0e0d1;">
                    <img src="img/logo_paybox.png" width="25%;" style="padding-bottom:5%;">
                    <div style="height:220px; overflow:auto;">
                        <div id="bill_peyment" style="margin-bottom:0;"></div>
                    </div>
                    <!--  <table class="table" style="font-size:12px;">
                          <tr>
                              <th style="width:70%; text-align:center;">รายการ</th>
                              <th style="width:10%; text-align:center;">จำนวน</th>
                              <th style="width:20%; text-align:center;">ราคา</th>
                          </tr>
                          <tr>
                              <td style="line-height:10px; text-align:left;">xxx/x</td>
                              <td style="line-height:10px; text-align:right;">x</td>
                              <td style="line-height:10px; text-align:right;">xx</td>
                          </tr>
                          <tr>
                              <th colspan="2">รวม</th>
                              <th>xx</th>
                          </tr>
                      </table>-->
                    <div style="width:100%; border-top:1px solid black; margin:0; font-size:8px; text-align:left; padding-top:2%;">
                        ** กรุณานำบิลไปยืนที่เคาน์เตอร์ เพื่อรับสินค้าหรือบริการ
                    </div>
                </div>
                <div style="float:left; width:55%; margin:0; text-align:center; padding:0%;">
                    <div id="price2"><h4><span id="txtmacPri" style="width:100%; padding-left:35%;"></span></h4>
                        <input type="text" name="pri2" id="pri2" readonly value="0"
                               style="width:100%; height:80px; margin-left:15%; font:65px Arial;; padding:0;">
                        <span id="txtUnit2"></span>
                    </div>
                    <div id="price3"><h4><span id="texttotal" style="width:100%; padding-left:35%;"></span></h4>
                        <input type="text" name="pri3" id="pri3" readonly value="0"
                               style="width:100%; height:80px; margin-left:15%; font-size:60px; padding:0;">
                        <span id="txtUnit3"></span>
                    </div>

                    <div>
                        <!-- แสดงธนบัตรหรือเหรียญที่สามารถชำระได้ -->
                    </div>

                        <button class="btn-danger btn-md" data-dismiss="modal"
                                style="width:90%; padding:0; margin-left:13%; margin-top:25%; margin-bottom:5%;">
                            <h1 style="padding:5%; margin:5%;">&#x2718;</h1>
                        </button>


                    <!-- <a href="javascript:print()">
                         <button class="btn-success btn-md"
                                 style="width:90%; padding:0; margin-left:13%; margin-top:5%;">
                             <h1 style="padding:5%; margin:5%;">&#10004;</h1>
                         </button>
                     </a>-->
                </div>
                <div style="width:100%; padding:2% 0 0 2%; border-top:3px solid black; clear: both; margin-top:2%;">
                    <div id="bank_use"></div>
                    <!-- <img src="img/b20_true.png" width="19%">
                     <img src="img/b50_true.png" width="19%">
                     <img src="img/b100_true.png" width="19%">
                     <img src="img/b500_true.png" width="19%">
                     <img src="img/b1000_true.png" width="19%"> -->
                </div>
            </div>

        </div>

    </div>
</div>


<!-- Modal loadbill-->
<div class="modal fade modal2" id="bill_load" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content"
             style="height:200px; width:50%; margin-top:25%; left:15%; text-align:center; padding-top:2%;">
            <img src="/img/bill.png" width="25%;">
            <h1>กรุณา รอรับใบเสร็จและเงินทอน</h1>
        </div>

    </div>
</div>


<script type="text/javascript" src="/js/item.js"></script>
<script type="text/javascript" src="/js/voice.js"></script>
<script src="/js/websocket.js"></script>
<script src="/js/sweetalert.min.js"></script>
<script src="/js/sweetalert-dev.js"></script>
<script src="/js/alert7.min.js"></script>
<script src="/js/numberFormat.js"></script>
<!--<script type="text/javascript" src="/json/menu_all.json"></script>
<script type="text/javascript" src="/json/menu1.json"></script>
<script type="text/javascript" src="/json/menu2.json"></script>
<script type="text/javascript" src="/json/menu3.json"></script>
<script type="text/javascript" src="/json/menu4.json"></script>
<script type="text/javascript" src="/json/menu5.json"></script>-->
<script type="text/javascript" src="/json/tiket_all.json"></script>
<script type="text/javascript" src="/json/tiket_list.json"></script>
<script type="text/javascript" src="/json/tiket_fer.json"></script>


</body>
</html>