<!DOCTYPE html>
<html>
<head>
    <title>terminal order</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
</head>
<body>

<nav class="navbar navbar-default" style="margin-bottom: 0.2%; background: #262626;">
    <div class="container-fluid" style="padding-left: 0;">
        <div class="navbar-header" style=" width: 20%; text-align: left; padding-left: 1%; padding-top: 0.5%;"
             id="l800">
            <img src="/img/logo_paybox.png" class="logo">
        </div>
        <div class="nav-r" id="l802">
            <span id="version"></span><br><span id="Name_time"></span><span id="timer"></span>
    </div>
    </div>
    <div class="navbar-header" id="l480">
        <img src="/img/logo_paybox.png" class="logo">
        <br>
        <span id="version2"></span> <span id="Name_time2"></span><span id="timer2"></span>
    </div>

</nav>

<div class="container" style="width: 100%;">
    <div id="menu_main" style="width: 90%;">
        <div class="scroll">
            <div id="img_bt">
                <div id="menu_data"></div>
                <!-- <a href="list.html">
                   <div class="block-2">
                     <img src="img/hot_list.png" onError="this.src = 'img/noimg.jpg'" class="block-img">
                       <h5 style="margin-top: 0;"><div style="width: 100%; float: left; text-align: center;"><b>HOT</b></div></h5>
                   </div>
                 </a>

                 <a href="#">
                   <div class="block-2">
                     <img src="img/ice_list.png" onError="this.src = 'img/noimg.jpg'" class="block-img">
                       <h5 style="margin-top: 0;"><div style="width: 100%; float: left; text-align: center;"><b>ice</b></div></h5>
                   </div>
                 </a>

                 <a href="#">
                   <div class="block-2">
                     <img src="img/Smoothies.png" onError="this.src = 'img/noimg.jpg'" class="block-img">
                       <h5 style="margin-top: 0;"><div style="width: 100%; float: left; text-align: center;"><b>frapee</b></div></h5>
                   </div>
                 </a>

                 <a href="#">
                   <div class="block-2">
                     <img src="img/kids_list.png" onError="this.src = 'img/noimg.jpg'" class="block-img">
                       <h5 style="margin-top: 0;"><div style="width: 100%; float: left; text-align: center;"><b>kids</b></div></h5>
                   </div>
                 </a>

                 <a href="#">
                   <div class="block-2">
                     <img src="img/snack_list.png" onError="this.src = 'img/noimg.jpg'" class="block-img">
                       <h5 style="margin-top: 0;"><div style="width: 100%; float: left; text-align: center;"><b>snake</b></div></h5>
                   </div>
                 </a>-->

            </div>
        </div>
        <p style="clear: both;">
            <a href="index.html">
                <button class="btn btn-danger btn-lg"><b><span id="bt_back"></span><b></button>
            </a>
        </p>
        <hr/>
    </div>
    <div id="language">
        <a href="javascript:onsaythai(1)"><img src="/img/thaiflag.png" id="1" class="lang active_img"></a>
        <a href="javascript:onsayeng(2)"><img src="/img/uk-flag.png" id="2" class="lang"></a>
        <a href="javascript:onsaychina(3)"><img src="/img/China.png" id="3" class="lang"></a>
        <h1>language </h1>
    </div>

    <a href="#"><img src="/img/Settings.png" id="img_setting" data-toggle="modal" data-target="#myModal"></a>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">กรอกรหัสผ่านเพื่อตั้งค่าระบบ</h2>
                </div>
                <div class="modal-body">
                    <input type="password" id="pwd_setting" class="form-control input-lg" readonly
                           style="font-size:30px; text-align:center;">

                    <table width="100%" style="margin-top:2%;">
                        <tr>
                            <td width="50%" style="padding-left:5%;">
                                <button type="button" class="btn btn-md btn-success bt_key" onclick="input_num(1)"><h3>
                                    1</h3></button>
                                <button type="button" class="btn btn-md btn-success bt_key" onclick="input_num(2)"><h3>
                                    2</h3></button>
                                <button type="button" class="btn btn-md btn-success bt_key" onclick="input_num(3)"><h3>
                                    3</h3></button>
                                <button type="button" class="btn btn-md btn-success bt_key" onclick="input_num(4)"><h3>
                                    4</h3></button>
                                <button type="button" class="btn btn-md btn-success bt_key" onclick="input_num(5)"><h3>
                                    5</h3></button>
                                <button type="button" class="btn btn-md btn-success bt_key" onclick="input_num(6)"><h3>
                                    6</h3></button>
                                <button type="button" class="btn btn-md btn-success bt_key" onclick="input_num(7)"><h3>
                                    7</h3></button>
                                <button type="button" class="btn btn-md btn-success bt_key" onclick="input_num(8)"><h3>
                                    8</h3></button>
                                <button type="button" class="btn btn-md btn-success bt_key" onclick="input_num(9)"><h3>
                                    9</h3></button>
                                <button type="button" class="btn btn-md btn-success bt_key" onclick="input_num('*')">
                                    <h3>*</h3></button>
                                <button type="button" class="btn btn-md btn-success bt_key" onclick="input_num(0)"><h3>
                                    0</h3></button>
                                <button type="button" class="btn btn-md btn-success bt_key" onclick="input_num('#')">
                                    <h3>#</h3></button>
                            </td>
                            <td width="40%" style="padding:1% 5%; vertical-align:bottom;">
                                <button type="button" class="btn btn-md btn-danger" onclick="check_setting()"
                                        style="width:100%; margin-bottom:2%;"><h1>GO!</h1></button>
                                <button type="button" class="btn btn-md btn-warning" onclick="delete_text()"
                                        style="width:100%; margin-bottom:2%;"><h1>Delete</h1></button>
                                <button type="button" class="btn btn-md btn-danger" data-dismiss="modal"
                                        style="width:100%"><h1>Cancel</h1></button>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

</div>

<script type="text/javascript" src="/js/menu.js"></script>
<script src='/js/voice.js'></script>
<script src="/js/sweetalert.min.js"></script>
<script src="/js/sweetalert-dev.js"></script>
<script src="/js/alert7.min.js"></script>
<!--<script type="text/javascript" src="json/menu_all.json"></script>-->
<script type="text/javascript" src="/json/tiket_all.json"></script>
</body>
</html>