<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
</head>
<body>

<div class="jumbotron text-center">
    <h1>TEST SEND Websocket</h1>
</div>

<div class="container">

    <div class="btn-group btn-group-justified" style="width:100%;">
        <div class="btn-group">
            <button type="button" class="btn btn-lg  btn-primary">C 1</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-lg  btn-primary">C 2</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-lg  btn-primary">C 5</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-lg  btn-primary">C 10</button>
        </div>
        <div class="btn-group">
            <button type="button" onclick="coin_hopper(20)" class="btn btn-lg btn-primary">B 20</button>
        </div>
        <div class="btn-group">
            <button type="button" onclick="coin_hopper(50)" class="btn btn-lg btn-primary">B 50</button>
        </div>
        <div class="btn-group">
            <button type="button" onclick="coin_hopper(100)" class="btn btn-lg btn-primary">B 100</button>
        </div>
        <div class="btn-group">
            <button type="button" onclick="coin_hopper(500)" class="btn btn-lg btn-primary">B 500</button>
        </div>
        <div class="btn-group">
            <button type="button" onclick="coin_hopper(1000)" class="btn btn-lg btn-primary">B 1000</button>
        </div>
    </div>
    <div class="btn-group btn-group-justified" style="width:100%; margin-top:2%;">
        <div class="btn-group">
            <button type="button" onclick="start_ca()" class="btn btn-lg  btn-primary">start CA</button>
        </div>
        <div class="btn-group">
            <button type="button" onclick="start_ba()" class="btn btn-lg  btn-primary">start BA</button>
        </div>
        <div class="btn-group">
            <button type="button" onclick="stop_ca()" class="btn btn-lg  btn-primary">stop CA</button>
        </div>
        <div class="btn-group">
            <button type="button" onclick="stop_ba()" class="btn btn-lg  btn-primary">stop BA</button>
        </div>
        <div class="btn-group">
            <button type="button" onclick="reject()" class="btn btn-lg  btn-primary">คืนเงิน</button>
        </div>
        <div class="btn-group">
            <button type="button" onclick="websocket.onopen()" class="btn btn-lg  btn-primary">connect</button>
        </div>
        <div class="btn-group">
            <button type="button" onclick="websocket.onclose()" class="btn btn-lg  btn-primary">disconnect</button>
        </div>
    </div>

    <h2>data:</h2>
    <div style="border:1px solid black; width:100%; height:150px; background-color:#fff; overflow:auto;">
        <label id="datatext"></label>
    </div>
</div>

<script>

    var wsUri = "ws://"+window.location.host+"/dev";
        //var wsUri = "ws://192.168.0.215:8888/ws";

    websocket = new WebSocket(wsUri);
    //console.log(window.location.host);

    //function call_web_socket(){
          websocket.onopen = function(evt) { onOpen(evt) };
          websocket.onclose = function(evt) { onClose(evt) };
          websocket.onmessage = function(evt) { onMessage(evt) };
          websocket.onerror = function(evt) { onError(evt) };
    //}

    function onOpen(evt)
    {
      console.log("CONNECTED");

    }

    function onClose(evt)
    {
      console.log("DISCONNECTED");
    }

    function onMessage(evt)
    {
      console.log('RESPONSE: ' + evt.data);
      $("#datatext").append(evt.data+'<br>');


    }

    function onError(evt)
    {
      console.log('Error : ' + evt.data);
    }

    function doSend(message)
    {
      console.log("SENT: " + message);
      websocket.send(message);

    }
function start_ca(){
    console.log('start ca');
    doSend('{"device":"coin_acc","type": "response","command": "set_inhibit","result": true}');
}

function start_ba(){
    console.log('start ca');
    doSend('{"device":"bill_acc","type": "response","command": "set_inhibit","result": true}');
}

function stop_ca(){
    console.log('start ca');
    doSend('{"device":"coin_acc","type": "response","command": "set_inhibit","result": false}');
}

function stop_ba(){
    console.log('start ca');
    doSend('{"device":"bill_acc","type": "response","command": "set_inhibit","result": false}');
}

function coin_hopper(bank){
    console.log('เติมตังค์');
    doSend('{"device":"bill_acc","type": "event","command": "received","result": true,"data": '+bank+'}');
}

function reject(){
    console.log('คืนตังค์');
    doSend('{"device":"bill_acc","type":"response","command":"take_reject","result":true}');
}

</script>
<!--<script src="/js/websocket.js"></script>-->
<script src="/js/sweetalert.min.js"></script>
<script src="/js/sweetalert-dev.js"></script>
<script src="/js/alert7.min.js"></script>
</body>
</html>
